@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto|Zilla+Slab");
.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 480px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
hr {
  width: 100%;
  height: 4px;
  border: 0;
  background-color: #4285f4; }

h3 {
  font-family: "Montserrat", sans-serif;
  color: #424242; }

.contenedor {
  width: 94%;
  margin: 0 auto; }

.tag {
  font-family: "Zilla Slab", serif;
  letter-spacing: 1.9px;
  color: #5f6368;
  margin-bottom: 5px; }

.description {
  font-family: "Roboto", sans-serif;
  color: #414549;
  margin-bottom: 30px;
  letter-spacing: .4px; }

.text-blue-right {
  font-family: "Roboto", sans-serif;
  color: #4285f4;
  text-align: right; }

.content-article {
  margin-top: 30px;
  margin-bottom: 30px; }

.header .row {
  margin: 5% auto; }
  .header .row .logo {
    background-image: url("../img/logo-tall.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 60px; }
  .header .row ul li {
    font-family: "Roboto", sans-serif;
    list-style: none;
    display: inline-block;
    margin-right: 35px; }

.episode1 {
  margin-bottom: 5%; }
  .episode1 .featured {
    background-image: url("../img/Method_Podcast.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 635px; }
    @media (min-width: 480px) {
      .episode1 .featured {
        background-image: url("../img/Method_Podcast.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        height: 310px; } }
  .episode1 .row .col-md-8 .title {
    font-size: 2.5em;
    font-family: "Montserrat", sans-serif;
    color: #424242;
    letter-spacing: .6px; }
  .episode1 .row .col-md-8 .subtitle {
    font-family: "Roboto", sans-serif;
    color: #424242;
    letter-spacing: .4px; }

.episode2__newsContent .news-blue {
  font-family: "Roboto", sans-serif;
  color: #4285f4;
  letter-spacing: .4px; }
.episode2__newsContent .news--description {
  font-family: "Roboto", sans-serif;
  color: #414549;
  margin-bottom: 30px;
  letter-spacing: .4px; }
.episode2__newsContent .news--left {
  width: 46%;
  padding-right: 4%; }
  .episode2__newsContent .news--left .news--image {
    background-image: url("../img/GoogleDesign.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 390px; }
    @media (min-width: 480px) {
      .episode2__newsContent .news--left .news--image {
        background-image: url("../img/GoogleDesign.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        height: 220px; } }
.episode2__newsContent .news__newsLetter {
  background-color: #f1f3f4; }
.episode2__newsContent .news--singupimg {
  background-image: url("../img/gdlogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 90px; }

.episode3 {
  margin-bottom: 7%; }
  .episode3 .episode3--left {
    width: 46%;
    padding-right: 4%; }
  .episode3 .episode3_image {
    margin-top: 5%; }
  .episode3 #episode3_image1 {
    background-image: url("../img/connectivity_culture_and_cre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode3 #episode3_image2 {
    background-image: url("../img/building_better_design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode3 #episode3_image3 {
    background-image: url("../img/daydream.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode3 #episode3_image4 {
    background-image: url("../img/migration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode3 #episode3_image5 {
    background-image: url("../img/quality.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }

.episode4 .episode4_brand {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif; }
.episode4 .episode4_collection {
  font-family: "Roboto", sans-serif;
  color: #4285f4;
  text-align: right; }
.episode4 .episode4_fromVR {
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  color: #414549;
  margin-bottom: 30px;
  letter-spacing: .4px; }
.episode4 .episode4_image {
  margin-right: 40px; }
.episode4 .content-article {
  margin-right: 40px; }
.episode4 #episode4_image1 {
  background-image: url("../img/daydream.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 280px; }
.episode4 #episode4_image2 {
  background-image: url("../img/expressing.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 280px; }

.episode5 {
  margin-bottom: 7%; }
  .episode5 .episode5--left {
    width: 46%;
    padding-right: 4%; }
  .episode5 .episode5_image {
    margin-top: 5%; }
  .episode5 #episode5_image1 {
    background-image: url("../img/sticky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode5 #episode5_image2 {
    background-image: url("../img/guide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode5 #episode5_image3 {
    background-image: url("../img/digital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode5 #episode5_image4 {
    background-image: url("../img/airbnb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode5 #episode5_image5 {
    background-image: url("../img/volume.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }

.episode6 .episode6_image {
  margin-right: 40px; }
.episode6 .content-article {
  margin-right: 40px; }
.episode6 #episode6_image1 {
  background-image: url("../img/design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 250px; }
.episode6 #episode6_image2 {
  background-image: url("../img/gallery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 250px; }
.episode6 #episode6_image3 {
  background-image: url("../img/Method_Podcast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 250px; }

.episode7 {
  margin-bottom: 7%; }
  .episode7 .episode7--left {
    width: 46%;
    padding-right: 4%; }
  .episode7 .episode7_image {
    margin-top: 5%; }
  .episode7 #episode7_image1 {
    background-image: url("../img/span.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode7 #episode7_image2 {
    background-image: url("../img/material.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }
  .episode7 #episode7_image3 {
    background-image: url("../img/design_never.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 380px; }

/*# sourceMappingURL=style.css.map */
