@import 'colors';
@import 'fonts';
@import "variable";
@import "grid";
@import 'resolutions';


//mixin
@mixin make-image($url, $height, $type, $size, $position) {
  background-image: url('../img/#{$url}.#{$type}');
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position top;
  height: $height;
}
@mixin zilla-text {
  font-family: $zilla-serif;
  letter-spacing: 1.9px;
  color: $grey-light;
  margin-bottom: 5px;
}
@mixin roboto-text-grey {
  font-family: $roboto-sans;
  color: $grey-text;
  margin-bottom: 30px;
  letter-spacing: .4px;
}
@mixin roboto-text-blue-right {
  font-family: $roboto-sans;
  color: $blue;
  text-align: right;
}
//style landing page google
hr{
  width: 100%;
  height: 4px;
  border: 0;
  background-color: $blue;
}
h3{
  font-family: $monserrat-sans;
  color: $grey-dark;
}
.contenedor{
  width: 94%;
  margin: 0 auto;
}
.tag{
  @include zilla-text;
}
.description{
  @include roboto-text-grey;
}
.text-blue-right{
  @include roboto-text-blue-right;
}
.content-article{
  margin-top: 30px;
  margin-bottom: 30px;
}
.hr-footer{
  background-color: $grey-light;
}
.header{
  .row{
    margin: 5% auto;
    .logo{
      @include make-image(logo-tall,60px,svg,contain,center)
    }
    ul{
      li{
        font-family: $roboto-sans;
        list-style: none;
        display: inline-block;
        margin-right: 35px;
      }
    }
    .search-icon{
      @include make-image(search-icon,30px,png,contain,right);
      background-position: right bottom;
    }
  }
}
.episode1{
  margin-bottom: 5%;
  .featured{
      @include make-image(Method_Podcast,270px,jpg,contain,center);
      @media (min-width: $screen-md) {
        @include make-image(Method_Podcast,645px,jpg,contain,center);
      }
      @media (min-width: $screen-lg) {
        @include make-image(Method_Podcast,645px,jpg,contain,center);
      }
  }
  .row{
    .col-md-8{
      .title{
        font-size: 2.5em;
        font-family: $monserrat-sans;
        color: $grey-dark;
        letter-spacing: .6px;
      }
      .subtitle{
        font-family: $roboto-sans;
        color: $grey-dark;
        letter-spacing: .4px;
      }
    }
  }
}
.episode2{
  margin-top: 3%;
  margin-bottom: 7%;
  .newsContent{
      &__left{
        width: 46%;
        padding-right: 4%;
        &--image{
          @include make-image(GoogleDesign,185px,jpg,contain,center);
          @media (min-width: $screen-md) {
            @include make-image(GoogleDesign,390px,jpg,contain,center);
          }
          @media (min-width: $screen-lg) {
            @include make-image(GoogleDesign,390px,jpg,contain,center);
          }
        }
      }
      .news__newsLetter{
        background-color: $bg-grey-light;
        &--blue{
          font-family: $roboto-sans;
          color: $blue;
          letter-spacing: .4px;
        }
        .news--singupimg{
          @include make-image(gdlogo,90px,png,contain,center)
        }
      }
  }
}
.episode3{
  margin-top: 3%;
  margin-bottom: 7%;
  &__left{
    width: 46%;
    padding-right: 4%;
  }
  .episode3_image{
    margin-top: 5%;
  }
  .tag-image{
    @include make-image(icon-redirection,40px,png,contain,left);
  }
  $count:0;
  @each $images in connectivity_culture_and_cre, building_better_design, daydream, migration, quality{
    $count: $count +1;
    #episode3_image#{$count} {
        @include make-image($images,165px,jpg,cover,center);
        @media (min-width: $screen-md) {
          @include make-image($images,380px,jpg,cover,center);
        }
        @media (min-width: $screen-lg) {
          @include make-image($images,380px,jpg,cover,center);
        }
    }
  }
}
.episode4{
  margin-top: 3%;
  margin-bottom: 5%;
  .episode4_brand{
    margin-top: 5px;
    font-family: $monserrat-sans;
  }
  .episode4_collection{
    @include roboto-text-blue-right;
  }
  .episode4_fromVR{
    margin-right: 40px;
    @include roboto-text-grey;
  }
  .episode4_image{
    margin-right: 40px;
  }
  .content-article{
    margin-right: 40px;
  }
  $count:0;
  @each $images in daydream, expressing{
    $count: $count +1;
    #episode4_image#{$count} {
        @include make-image($images,90px,jpg,contain,center);
        @media (min-width: $screen-md) {
          @include make-image($images,280px,jpg,contain,center);
        }
        @media (min-width: $screen-lg) {
          @include make-image($images,280px,jpg,contain,center);
        }
    }
  }
}
.episode5{
  margin-top: 3%;
  margin-bottom: 7%;
  &__left{
    width: 46%;
    padding-right: 4%;
  }
  .episode5_image{
    margin-top: 5%;
  }
  $count:0;
  @each $images in sticky, guide, digital, airbnb, volume{
    $count: $count +1;
    #episode5_image#{$count} {
        @include make-image($images,165px,jpg,cover,center);
        @media (min-width: $screen-md) {
          @include make-image($images,380px,jpg,cover,center);
        }
        @media (min-width: $screen-lg) {
          @include make-image($images,380px,jpg,cover,center);
        }
    }
  }
}
.episode6{
  margin-top: 3%;
  margin-bottom: 7%;
  .episode6_image{
    margin-right: 40px;
  }
  .content-article{
    margin-right: 40px;
  }
  .tag-image2{
    @include make-image(fb,20px,png,contain,left);
  }
  .tag-image1, .tag-image3{
    @include make-image(twitter,30px,svg,contain,left);
  }
  $count:0;
  @each $images in design, gallery, Method_Podcast{
    $count: $count +1;
    #episode6_image#{$count} {
        @include make-image($images,125px,jpg,cover,center);
        @media (min-width: $screen-md) {
          @include make-image($images,250px,jpg,cover,center);
        }
        @media (min-width: $screen-lg) {
          @include make-image($images,250px,jpg,cover,center);
        }
    }
  }
}
.episode7{
  margin-bottom: 7%;
  &__left{
    width: 46%;
    padding-right: 4%;
  }
  .episode7_image{
    margin-top: 5%;
  }
  $count:0;
  @each $images in span, material, design_never{
    $count: $count +1;
    #episode7_image#{$count} {
        @include make-image($images,165px,jpg,cover,center);
        @media (min-width: $screen-md) {
          @include make-image($images,380px,jpg,cover,center);
        }
        @media (min-width: $screen-lg) {
          @include make-image($images,380px,jpg,cover,center);
        }
    }
  }
}
.episode8{
  margin-top: 3%;
  margin-bottom: 7%;
}
.episode9{
  margin-top: 3%;
  margin-bottom: 7%;
  .episode9_image{
    @include make-image(google-g,50px,svg,contain,left);
  }
}
